<section class="galeria fade-in" id="galeria">
  <h2>Galeria de Treinos</h2>
  <div class="carrossel-loop">
    <div class="carrossel-track">
      <img src="images/wolverine1.jpg" alt="Treino Wolverine 1" />
      <img src="images/wolverine2.jpg" alt="Treino Wolverine 2" />
      <img src="images/wolverine3.jpg" alt="Treino Wolverine 3" />
      <img src="images/wolverine4.jpg" alt="Treino Wolverine 4" />
      <img src="images/wolverine5.jpg" alt="Treino Wolverine 5" />
      <img src="images/wolverine6.jpg" alt="Treino Wolverine 6" />
      <img src="images/wolverine1.jpg" alt="Treino Wolverine 1" />
      <img src="images/wolverine2.jpg" alt="Treino Wolverine 2" />
      <img src="images/wolverine3.jpg" alt="Treino Wolverine 3" />
      <img src="images/wolverine4.jpg" alt="Treino Wolverine 4" />
      <img src="images/wolverine5.jpg" alt="Treino Wolverine 5" />
      <img src="images/wolverine6.jpg" alt="Treino Wolverine 6" />
    </div>
  </div>
</section>