<section class="sobre" id="sobre">
  <div class="container">
    <h2>Sobre a Academia do Wolverine</h2>
    <p>
    Na Academia Wolverine, força, garra e superação não são apenas palavras, são parte do nosso DNA. Localizada em Paris, França, somos mais do que uma academia: somos um espaço onde cada treino é uma batalha vencida e cada aluno é tratado como um verdadeiro herói em sua jornada pessoal.
Inspirada na determinação do icônico Wolverine, nossa academia oferece uma estrutura completa para quem busca transformar o corpo e a mente. Com equipamentos modernos, ambiente motivador e total suporte para atingir sua meta, aqui você encontra o apoio ideal para alcançar seus objetivos! Seja emagrecimento, hipertrofia, condicionamento físico ou bem-estar.
    </p>
  </div>
</section>